body {
	 font-family: Roboto-condensed;
	 margin: 0;
}

.tabs-container {
	position: relative;
	width: 500px;
	margin: 2em auto;
	
}

.tabs {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	display: flex;
	
	
	&__item {
		border: 1px solid #ccc;
		border-bottom: none;
		line-height: 2.5;
		padding: 0 1em;
		margin-right: 1px;
		background: #eee;
		border-radius: 5px 5px 0 0;
		position: relative;
	    top: 1px;
		z-index: 0;
		cursor: pointer;
		
		&.active {
			background: #fff;
			z-index: 20;
		}
	}
}


.panels {
	border: 1px solid #ccc;
	padding: 1em; 
	position: relative;
	z-index: 10;
	
	&__item {
		position: absolute;
		left: -1000%;
		
		&.active {
			position: relative;
			left: 0;
		}
	}
}