[up-close] {
    cursor: pointer;
}
.up-insertion {
    display: inline-block;
}
.up-bounds {
    position: absolute;
}
[up-href] {
    cursor: pointer;
}
.up-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    overflow-x: hidden;
}
.up-modal-backdrop {
    z-index: 11000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(3, 3, 5, 0.96);
}
.up-modal-viewport {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 12000;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}
.up-modal.up-modal-animating {
    overflow-y: scroll;
}
.up-modal.up-modal-animating .up-modal-viewport {
    overflow-y: hidden;
}
.up-modal-dialog {
    z-index: 13000;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;


    display: inline-block;
    text-align: left;
}
.up-modal-content {
    z-index: 14000;
    padding: 0 0 10px 0;
    float: left;
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
}
.up-modal-close {
    z-index: 15000;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 0px 12px 7px 12px;
    text-align: center;
    line-height: 0.76;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    background: #963434;
    border-radius: 4px;
    font-weight: 300;
}
.up-modal-close:hover {
    background: #bd4040;
}
.up-modal[up-flavor=drawer] .up-modal-viewport {
    text-align: left;
    padding: 0;
}
.up-modal[up-flavor=drawer][up-position=right] .up-modal-viewport {
    text-align: right;
}
.up-modal[up-flavor=drawer] .up-modal-dialog {
    max-width: 350px;
}
.up-modal[up-flavor=drawer] .up-modal-content {
    min-height: 100vh;
    box-sizing: border-box;
}


.up-toast-variable {
    font-weight: 400;
    color: gray;
}
.up-toast-actions {
    margin-top: 7px;
}
.up-toast-action {
    display: inline-block;
    word-spacing: -4px;
    text-decoration: underline;
    color: #28b;
    cursor: pointer;
}
.up-toast-action+.up-toast-action {
    margin-left: 12px;
}
.up-tooltip {
    z-index: 30000;
    position: relative;
}
.up-tooltip:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
}
.up-tooltip[up-position=top] {
    margin-bottom: 10px;
}
.up-tooltip[up-position=top]:after {
    border-top-color: #111;
    border-bottom-width: 0;
    bottom: -6px;
    left: 50%;
    margin-left: -6px;
}
.up-tooltip[up-position=left] {
    margin-right: 10px;
}
.up-tooltip[up-position=left]:after {
    border-left-color: #111;
    border-right-width: 0;
    right: -6px;
    top: 50%;
    margin-top: -6px;
}
.up-tooltip[up-position=right] {
    margin-left: 10px;
}
.up-tooltip[up-position=right]:after {
    border-right-color: #111;
    border-left-width: 0;
    left: -6px;
    top: 50%;
    margin-top: -6px;
}
.up-tooltip[up-position=bottom] {
    margin-top: 10px;
}
.up-tooltip[up-position=bottom]:after {
    border-bottom-color: #111;
    border-top-width: 0;
    top: -6px;
    left: 50%;
    margin-left: -6px;
}
.up-tooltip-content {
    background-color: #111;
    color: #fff;
    padding: 6px 9px;
    white-space: nowrap;
}
input:focus, select:focus, textarea:focus {
    outline: 0;
}
a {
    text-decoration: none;
}
p {
   font-weight: 500; 
}
a, input, li, span, h2 {
    -webkit-transition: all .2s cubic-bezier(.37, .15, .32, .94);
    -moz-transition: all .2s cubic-bezier(.37, .15, .32, .94);
    -ms-transition: all .2s cubic-bezier(.37, .15, .32, .94);
    transition: all .2s cubic-bezier(.37, .15, .32, .94);
    list-style-type: none;
    font-weight: 500;
}
input:-webkit-autofill, input:-webkit-autofill:focus textarea:-webkit-autofill, input:-webkit-autofill:hover, select:-webkit-autofill, select:-webkit-autofill:focus, select:-webkit-autofill:hover, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0 1000px #252532 inset;
    transition: background-color 5000s ease-in-out 0s;
    border: 1px solid #0a4c80;
}
::-webkit-scrollbar-track {
    background-color: #242d4200;
}
::-webkit-scrollbar-thumb {
    background-color: #464d61;
    background-clip: padding-box;
    border: 2px solid #242d4200;
    border-radius: 30px;
}
::-webkit-scrollbar {
    width: 10px;
}
html {
    min-height: 100%;
    position: relative;
}
body {
    background-color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    margin: 0 0 70px 0;
    padding: 0!important;
    height: 100%;
    display: inline-block;
        width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;

}
header {
    top: 0;
    position: fixed;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    z-index: 10;
    height: 60px;
    margin: 0;
    background: #000000e6;
}

header nav {
    margin: 19px 0 0 25px;
    display: inline-block;
}
header nav a {
    position: relative;
    font-size: 18px;
    color: #ffffff96;
    /* text-transform: uppercase; */
    margin: 0 20px 0 0;
    font-weight: 300;
}

header nav a b{
    position: absolute;
    background: #4d820e;
    padding: 2px 4px;
    font-weight: 400;
    font-size: 10px;
    border-radius: 3px;
    top: -19px;
    right: -5px;
    color: #fff;
}

header nav a:hover {
    color: #ffffffc7;
}
.nav-A {
    color: #fff!important;
}
header form {
    display: inline-block;
    margin: 0 0 0 10px;
    width: 350px;
    position: relative;
}
#InFrag {
    position: absolute;
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    margin: -26px 0 0 0;
    overflow: hidden;
    border-radius: 6px !important;
}
header form input {
    padding: 0 0 0 45px;
    color: #000;
    font-weight: 500;
    background-color: #1a1a1a;
    height: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    border: 0;
    border-radius: 30px;
    position: relative;
    z-index: 5;
}

header form input:focus {
    background-color: #fff;
}
header form i {
		position: absolute;
    margin: 10px 0 0;
    color: #7b7b7b;
    font-size: 23px!important;
    left: 12px;
    z-index: 6;
}
header form input::-webkit-input-placeholder {
    color: #9a9a9a;
    font-size: 15px;
}
header form input::-moz-placeholder {
    color: #9a9a9a;
    font-size: 15px;
}
header form input:-ms-input-placeholder {
    color: #9a9a9a;
    font-size: 15px;
}
header form input:-moz-placeholder {
    color: #9a9a9a;
    font-size: 15px;
}
.userOff {
    margin: 10px 10px 0 0;
    left: 0;
    bottom: 0;
    float: right;
    overflow: hidden;
}
.userOff a {
    box-shadow: 0 1px 2px 0 #00000045;
    padding: 10px 20px;
    margin: 0 0 0 0;
    border-radius: 6px;
    color: #b9b9b9;
    font-size: 15px;
    float: right;
}

.userOff a:first-child {
    color: #ffffff;
    background: #ffffff17;
}

.userOff a:first-child:hover {
    background: #0e8861;
    color: #fff;
}

.userOff a:hover {
    color: #fff;
}
.userOff a b {
    font-weight: 500;
}
.boton_mov {
    display: none;
}
.searchMob {
    display: none;
}
.closeSeach {
    display: none!important;
}
#movidyMain {
    float: left;
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    margin: 55px 0 0 0;
    position: relative;
}
.xDwHead {
    margin: 10px 0 0 0!important;
}
#ContentDay .articleItem {
    display: inline-block;
    float: left;
}
#ContentDay .articleItem:hover:before {
    opacity: 1;
}
#ContentDay .articleItem img {
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    -webkit-transition: all 1s cubic-bezier(.37, .15, .32, .94);
    -moz-transition: all 1s cubic-bezier(.37, .15, .32, .94);
    -ms-transition: all 1s cubic-bezier(.37, .15, .32, .94);
    transition: all 1s cubic-bezier(.37, .15, .32, .94);
    position: absolute;
    border-radius: 10px;
}
/*.Cborder {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    height: 100%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .17) inset;
    transition: all .1s;
}*/
.hideItems {
    position: absolute;
    background-image: linear-gradient(rgba(255, 255, 255, 0), #000000cf);
        width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    z-index: 2;
    padding: 0 0 1px 0;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    padding: 35% 0 3% 0;
    opacity: 1;
    bottom: 0;
}
.hideItems h2 {
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 5px #000000c4;
    padding: 0 0 10px 15px;
    margin: 0;
}
.hideItems span {
    padding: 0 0 0 15px;
}
.hideItems span b {
    font-size: 18px;
    color: #bdbdbd;
    font-weight: 500;
    margin: 0 10px 0 0;
    text-shadow: 2px 2px 5pxd #000000c4;
}
#ContentDay .articleItem span:first-child {
    position: absolute;
    z-index: 1;
    background: #000000a3;
    padding: 10px;
    margin: 10px 0 0 10px;
    color: #fff;
    font-size: 15px;
    left: 0;
    opacity: 1;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 500;
}
.AinSingle {
    margin: 0 0 10px 0!important;
}
.boxActive .hideItems {
    opacity: 1;
    bottom: 0;
}
.boxActive span:first-child {
    left: 0!important;
    opacity: 1!important;
    z-index: 3!important;
}
.Cards {
    display: inline-block;
    float: left;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 15.666%;
    margin:0 .5% 1% .5%;
    border-radius: 5px;
    padding: 0 0 22% 0;
}
.Cards .CPoster {
        width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    position: absolute;
    height: 100%;
    background-color: #101017;
    background-image: url(../img/lazyload.gif), radial-gradient(#13151d00 15%, #00000091 100%);
    background-repeat: no-repeat;
    background-position: 50% 50%}
.Cards .CPoster img {
        width: 100%;
    }
.Cards:before {
    content: '';
    background: url(../img/gradient.svg) top right no-repeat;
    position: absolute;
    right: 0;
        width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
    z-index: 1;
}
.articleItem:before {
    content: '';
    background: url(../img/gradient.svg) top right no-repeat;
    position: absolute;
    right: 0;
        width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
    z-index: 1;
}
.articleItem:hover:before {
    opacity: 1;
}
.CInfo {
    position: absolute;
        width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    z-index: 4;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    bottom: 0;
    padding: 100% 0 20px 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.64) 70%);
    cursor: pointer;
}
.CInfo h2 {
    font-size: 25px;
    margin: 0 15px 5px 15px;
    text-transform: initial;
    font-weight: 300;
    color: #fff;
}

.CInfo p {
    margin: 0 5px 5px 15px;
    font-size: 17px;
    color: #b0b4b9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
        width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    display: block;
}
.CInfo h2 b {
    color: #d6d6d6;
    font-weight: 500;
    font-size: 16px;
    height: 19px;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    margin: 0 0 0 0;
    position: relative;
    top: -3px;
    background-color: #000000de;
    border-radius: 4px;
}
.CInfo span {
        margin:  0 50px 0 0;
    font-size: 15px;
    color: #bbb;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    display: block;
}
.CInfo span b {
    font-weight: 500;
    margin: 0 0 0 15px;
    font-size: 18px;
}
.Cards:hover:before {
    opacity: 1;
}
.Cards:hover .CInfo {
    bottom: 0;
    opacity: 1;
}
footer {
    height: 30px;
    padding: 0 0 20px 10px;
    float: left;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    position: absolute;
    bottom: 0;
    margin: 0 .5%;
}
footer b {
    display: inline-block;
    margin: 0;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 2px;
}
footer a {
    display: inline-block;
    margin: 0 5px 0;
    padding: 0 5px;
    font-size: 16px;
    color: #c7c7c7;
    font-weight: 400;
    cursor: pointer;
}
footer a:hover {
    color: #fff;
}
.SecondNav {
    top: 50px;
        width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    left: 0;
    height: 34px;
    z-index: 9;
    margin: -10px .5% 10px .5%;
}
.SecondNav a {
    padding: 8px 20px;
    color: #abaaaa;
    display: inline-block;
    font-size: 17px;
    float: left;
    border-radius: 4px;
    margin: 0 10px 0 0;
}
.SecondNav a i {
    position: absolute;
    left: 2px;
    top: 4px;
    font-size: 18px;
    display: none;
}
.SecondNav a:hover {
    background: #23232d;
    color: #d0d0d0;
}
.SecondNav span {
    display: inline-block;
    margin: 0;
    color: #93959e;
    width: 40px;
    height: 34px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    -webkit-transition: all .2s cubic-bezier(.37, .15, .32, .94);
    -moz-transition: all .2s cubic-bezier(.37, .15, .32, .94);
    -ms-transition: all .2s cubic-bezier(.37, .15, .32, .94);
    transition: all .2s cubic-bezier(.37, .15, .32, .94);
    position: relative;
}

#movidyMain .mindhe {
    margin: 25px 0.5% 25px 0.5%;
}

.mindhe2 {
   margin: 15px 0 0 0 !important; 
}

.SecondNav span i {
    font-size: 20px;
    position: relative;
    top: -1.3px;
}
.SecondNav span:hover {
    background-color: #23232d;
    color: #fff;
    box-shadow: 0 2px 10px 0 #0000004a;
}

.CA_Active {
    position: relative;
    z-index: 20000;
        width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    height: 100%;
    background: rgba(3, 3, 5, 0.7);
}
.CA_Active:before {
    content: '';
    background-image: url(https://i.imgur.com/Y3sJjJJ.gif);
    height: 80px;
    width: 80px;
    top: 46%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -45%);
    overflow: hidden;
    border-radius: 100px;
    background-size: 100%;
    border: 1px solid#000;
}
.NL_A {
    color: #fff!important;
}
.boxFilter {
        width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -45%);
    width: 80%}
.Ageneros {
    padding: 0;
    text-align: center;
    margin: 0;
}
.Ageneros li {
    height: auto;
    cursor: pointer;
    color: #adadad;
    padding: 7px 0;
    margin: 0 5px 10px 5px;
    text-align: center;
    display: inline-block;
    width: 12%;
    font-size: 13.5px;
    background: #191c23;
    border-radius: 4px;
}
.filterON img {
    opacity: 1!important;
}
.filterON b {
    color: #fff!important;
}
.Ageneros li img {
    opacity: .4;
}
.Ageneros li b {
    font-size: 13px;
    color: #cacaca;
    margin: 0;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
}
.Ageneros li:hover {
    background: #1e222d;
    color: #fff;
}
.Ageneros input {
    height: auto;
    color: #282828;
    padding: 10px 0 6px 0;
    margin: 0 5px 5px 5px;
    text-align: center;
    display: inline-block;
    width: 7.3%;
    font-size: 17px;
    box-shadow: 0 2px 5px 0 #00000036;
    border: 1px solid #1965a0;
    background: #13151de0;
}
.filterON {
    background: #0d4c6f !important;
    color: #fff!important;
    -webkit-box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, .2);
}
.Ayears li {
    width: 5%;
    margin: 0 .1% 5px .1%;
    font-size: 19px;
}
#filtrar {
    background: #191c23;
    display: inline-block;
    margin: 10px;
    padding: 8px 20px 8px 20px;
    color: #e8e8e8;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 20px;
    -webkit-transition: all .2s cubic-bezier(.37, .15, .32, .94);
    -moz-transition: all .2s cubic-bezier(.37, .15, .32, .94);
    -ms-transition: all .2s cubic-bezier(.37, .15, .32, .94);
    transition: all .2s cubic-bezier(.37, .15, .32, .94);
    border-radius: 4px;
    font-weight: 500;
}
#filtrar:hover {
    background: #105b84;
    color: #fff;
}
#contadorFiltro {
    display: inline-block;
    font-size: 17px;
    color: #929292;
    font-weight: 500
}
.selDf {
    display: inline-block;
    font-size: 14px;
    margin: 10px 0 0 0;
        width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    text-align: center;
}
.clickFilter {
    display: inline-block;
    margin: 0 0 0 15px;
    color: #fff;
    border-radius: 100%;
    width: 33px;
    height: 32px;
    text-align: center;
    line-height: 45px;
    position: relative;
    top: 5.5px;
    cursor: pointer;
    -webkit-transition: all .2s cubic-bezier(.37, .15, .32, .94);
    -moz-transition: all .2s cubic-bezier(.37, .15, .32, .94);
    -ms-transition: all .2s cubic-bezier(.37, .15, .32, .94);
    transition: all .2s cubic-bezier(.37, .15, .32, .94);
}
.clickFilter i {
    font-size: 20px;
    position: relative;
    top: -1px;
}
.clickFilterA {
    background: #4b9ace;
}
.clickFilterU {
    color: #fff!important;
    background: #64883b!important;
    -webkit-box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, .2);
}
.filterAplicado {
    display: block;
    margin: 10px 0 0 1%}
.filterAplicado b {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    color: #efefef;
    margin: 0 10px 0 0;
}
.filterAplicado a {
    display: inline-block;
    background: #306933;
    margin: 0 10px 10px 0;
    padding: 3px 10px 2px 10px;
    font-size: 12px;
    border-radius: 2px;
    color: #fff;
}
.filterAplicado a:hover {
    background: #3a993f;
    -webkit-box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, .2);
}
.ClickFilterA {
    background: #306933!important;
    color: #fff!important;
}
#filterInsert {
    top: -100%;
    background: rgba(0, 0, 0, 0.87); 
    opacity: 0;
    -webkit-transition: top 0s ease .25s, opacity .25s ease;
    -moz-transition: top 0s ease .25s, opacity .25s ease;
    -ms-transition: top 0s ease .25s, opacity .25s ease;
    transition: top 0s ease .25s, opacity .25s ease;
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
        width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    height: 110%
}
.filterInsertA {
    top: 0!important;
    opacity: 1!important;
    -webkit-transition: top 0s ease 0s, opacity .25s ease!important;
    -moz-transition: top 0s ease 0s, opacity .25s ease!important;
    -ms-transition: top 0s ease 0s, opacity .25s ease!important;
    transition: top 0s ease 0s, opacity .25s ease!important;
}
.filtroA {
    background: #1965a0!important;
    color: #ffff!important;
}
.filtroB {
    background: #1965a0!important;
    color: #ffff!important;
}
#loadContent {
    float: left;
    margin: -5% 0 0 0;
        width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;}
.pagMovidy {
    float: left;
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    text-align: center;
    margin: 20px 0 15px 0;
}
.pagMovidy a {
    background: #181821;
    padding: 10px 15px;
    color: #bbb;
    text-transform: uppercase;
    font-size: 15px;
    margin: 0 10px;
    border-radius: 5px;
}
.pagMovidy a b {
    background: #000;
    padding: 2px 5px;
    font-weight: 500;
    color: #d2d2d2;
    margin: 0 5px 0 5px;
}
.pagMovidy a:hover {
    background: #23232d;
}

.listSearchA {
    display: block;
}
.listSearch p {
    margin: 5px 0 0 0;
        width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    text-align: center;
}
.listSearch svg {
    width: 45px;
    height: 45px;
}
.listSearch svg path {
    fill: #007eff;
}
.tng {
    color: #fff!important;
    font-weight: 500;
    font-size: 14px;
    height: 17px;
    padding: 4px 6px 3px 6px;
    display: inline-block;
    position: relative;
    top: 0;
    background-color: #274767;
}
.fastSearch {
    display: block;
    float: left;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    padding: 7px;
    border-radius: 10px;
}
.fastSearch .SPoster {
    float: left;
    margin: 0 10px 0 0;
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #101017;
    background-image: url(../img/lazyload.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30px;
}
.fastSearch .SPoster img {
       width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    top: 46%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -45%);
}
.fastSearch h2 {
    margin: 0;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fastSearch span {
    font-size: 13px;
    color: #313131;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.fastSearch:hover {
    background: #e8e8e8;
}
.noResLive {
    color: #13151d;
    font-weight: 500;
    text-align: center;
    margin: 15px 0 0 0;
    font-size: 16px;
}
.tng2 {
    color: #fff!important;
    font-weight: 500;
    font-size: 14px;
    height: 17px;
    padding: 7px 15px 7px 15px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #000000;
    text-transform: uppercase;
    border-radius: 4px;
}
#first3Lists {
    float: left;
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    margin: .5% .5% 0 .5%;
    display: flex;
}
#first3Lists article {
    background: #181821;
    margin: 0 15px;
    width: 33.3%;
    border-radius: 5px;
}
#first3Lists article:first-child {
    margin: 0;

    }

    .votStar {
        margin: 0;
        padding: 10px 20px 0 10px;
    }

    .CInfo span b {
        font-size: 15px;
    }
    .infoCard {
    width: 100% !important;
    width: -moz-available !important;        
    width: -webkit-fill-available !important;
    width: fill-available !important;
}
.seMobF {
    position: absolute;
    left: 0;
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    margin: 0;
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    transform: translateY(-80px);
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    border-radius: 0;
    z-index: 1;
}
.searchMob {
    display: inline-block;
    float: left;
    padding: 0;
    line-height: 0;
    cursor: pointer;
    margin: 9px 0 0 15px;
    color: #dcdcdc;
    -webkit-transition: all .2s cubic-bezier(.37, .15, .32, .94);
    -moz-transition: all .2s cubic-bezier(.37, .15, .32, .94);
    -ms-transition: all .2s cubic-bezier(.37, .15, .32, .94);
    transition: all .2s cubic-bezier(.37, .15, .32, .94);
    background: #ffffff1c;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    line-height: 3.3;
}

.searchMob:hover {
    background: #ffffff2e;
    color: #fff;
}

.searchMob i {
    font-size: 20px;
}
.seMobF input {
    background-color: #fff;
    height: 50px;
    padding: 0 0 0 40px;
    border-radius: 6px;
    margin: 5px;
}
header .seMobF i {
    margin: 19px 3px 0;
}
.closeSeach {
    display: inline-block!important;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    left: initial;
    margin: 5px 5px 0 0!important;
    text-align: center;
    line-height: 1.8!important;
    background: #b32b2b;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
}
.seMobF #InFrag {
    margin: 0;
    border-radius: 0;
}
.seMobFA {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
#first3Lists {
    display: initial;
}
#first3Lists article {
    background: #181821;
    margin: 0 15px;
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    margin: 0 0 1% 0;
    float: left;
}
#first3Lists article {
    margin: 0 0 10px 0 !important;
}

.otherLits {
    margin: 0 5px 0 10px !important;
}
.postersMov li:first-child {
    display: initial!important;
}
.postersMov li:last-child {
    display: initial!important;
}
#first3Lists article .postersMov li {
    width: 32%;
    padding: 0 0 25% 0;
}
#first3Lists article .postersMov {
    display: flex;
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
}
.otherLits article {
    width: 99%!important;
}
.listSearch {
    margin: -55px 5px 0 5px;
    border-radius: 6px;
    padding: 55px 5px 5px 5px;
}

}@media screen and (max-width:700px) {

    #movidyMain .mindhe {
        margin: 0 0.5% 0 0.5%;
    }

    .reagrupar li {
        margin: 0 .25% 10px .25%!important;
    }

    .printBoxList2 {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

    .ingt {
    margin: 5px 0 0 0!important;
}


.critWallp {
    padding: 0 0 50% 0;
}

.critWallp .waltemp h2 {
    font-size: 25px;
}

.critWallp .waltemp p {
    font-size: 14px;
}

.puthere {
    display: block;
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    margin: 0 3px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}


    .navA {
    background: #0475b5 !important;
}

.menuIndexF {
    height: auto;
    background: #000000;
    margin: 60px 0.5% -10px 0.5%;
}

.menuIndexF span {
    margin: 3px 0 10px 0;
    display: block;
    top: 0;
    padding: 0;
}


.menuIndexF span nav a, .menuIndexF span nav li {
    position: relative;
    font-size: 13px;
    color: #ffffff96;
    margin: 0 3px;
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    padding: 11px 5px 10px 5px;
    border-radius: 5px;
}

.menuIndexF span nav div {
    margin: 0 0 0 5px;
}

.menuIndexF span nav {
    display: inline-block;
    position: relative;
    z-index: 6;
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    background: #13131b;
    padding: 5px 2px;
    background: -webkit-linear-gradient(left, rgb(40, 40, 52) -50%, rgba(231, 56, 39, 0) 100%);
}
.nav-A {
    color: #fff!important;
}

.NL_A {
    color: #fff!important;
   background: #0c436f !important;
}

.xLat {
    margin: 0 0 10px 0;
}

.statsExtra {
    margin: 0 0 0 0;
}

.Cborder2 {
    box-shadow: 0 -3px 0 5px #000 inset!important;
}
.reagrupar li {
    width: 100% !important;
    width: -moz-available !important;        
    width: -webkit-fill-available !important;
    width: fill-available !important;
}

.Cards {
    width: 31.3% !important;
    padding: 0 0 45% 0;
}
.SecondNav {
    top: 42px;
}
.PageAct {
    top: 42px;
}
.boxFilter {
    background: #09090c;
}
.Ageneros li {
    width: 30%;
    margin: 0 1% 5px 1%}
.Ageneros li img {
    display: none;
}
.Ayears li {
    width: 17%}
.Ageneros li b {
    font-size: 15px;
}
.avisoDisabled {
    margin: 20px 10px;
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
}
.deletedPub span {
    top: 70%;
    font-size: 13px;
}
}@media screen and (max-width:600px) {

    .WalCue {
        background: #181821bf;
        width: 100%;
        width: -moz-available;        
        width: -webkit-fill-available;
        width: fill-available;
    }

    .inft1 {
        display: block;
        width: 100%;
        margin: 10px 0 0 0;
    }

    .InfoEp h1 {
        font-size: 17px;
    }
    .inft {
        padding: 4px 10px;
        font-size: 11px;
    }

    .InfoEp article {
        font-size: 16px;
    }
    #Musica li {
    margin: 0 10px 10px 10px;
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
}

#Musica h2 {
    margin: 10px 0 10px 10px;
    }

    .Episodios .clickSeason {
        padding: 7px 10px 6px 10px;
        font-size: 17px;
    }

    .season li .wallEp {
        width: 100px;
        height: 55px;
    }

    .season li h2 {
        font-size: 16px;
    }
    .boxEpVisto {
        padding: 10px;
    }

    .startEp span:first-child {
        font-size: 11px;
    }

    .botm a {
        font-size: 13px;
    }

    .startEp span:last-child {
        position: relative;
        top: 1px;
    }

    .boxEpVisto .wallEp {
        width: 130px;
        height: 70px;
    }
    

    .updateSerie {
        font-size: 14px;
    }

    .boxEpVisto h2 span {
        font-size: 12px;
    }

    .boxEpVisto h2 {
        font-size: 14px;
    }
    
    .boxAvLink {
        margin: 10px 10px 20px 10px;
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    }

    .botm a i {
        font-size: 17px;
    }
    
    .recmpli a {
        display: block;
        margin: 10px 0 !important;
        width: initial;
    }

    .minhrde {
        font-size: 18px;
        padding: 36px 0 0 10px;
    }

    .bajacalidadin {
        font-size: 13px;
    }

    .navEP2 li {
    font-size: 13px;
    }

    .linksUsers li {
        display: block;
    }

    .linksUsers li a {
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
        padding: 15px 0 8px 20px;
    }

    .linksUsers li .linUsSecond {
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
        margin: 0 10px 5px 20px;
    }

    .Lang2Video li b {
    padding: 3px 10px 2px;
    font-size: 10.5px;
    }

    .menuIndexF span nav a b{
        display: none;
    }

.newdkT {
    top: 60%!important;
    left: 52%!important;
}
.SingleContent h1 {
    font-size: 27px;
    top: 0;
}
.Wallpaper {
    padding: 0 0 45% 0;
}
.SingleHead {
    float: left;
    width: 90px;
    margin: -55px 25px 0 15px;
    height: 130px;
}
.xBody article {
    margin: -25px 0 0 0;
    padding: 45px 10px 10px 10px;
    font-weight: 500;
}

}@media screen and (max-width:500px) {

    #ifr_compartido {
        padding-bottom: 80%;
    }

		.sts {
    top: 22px;
}
.sts a {
    font-size: 14px;
}

    .navEP2 li i {
    left: 10px;
    top: 7px;
}

    .navEP2 li:first-child {
    padding: 2px 15px 11px 15px;
}
.navEP2 li:first-child i {
    position: relative;
    top: 4.3px;
    left: 0;
}


.navEP2 li {
    font-size: 0;
    padding: 9px 10px 6px 35px;
}
    
.perfilWallpaper a {
    bottom: 0;
    position: absolute;
    right: 70px;
}

.settPrfl {
    position: absolute;
    right: 0;
    bottom: 0;
}


    .carrNext, .carrPrev {
    width: 45px!important;
    height: 45px!important;
    line-height: 3.7!important;
    top: 26%!important;
}
.Cards {
    width: 48% !important;
    padding: 0 0 70% 0;
}
.hideItems h2 {
    font-size: 17px;
}

.CInfo span {
    font-size: 13px;
}
.CInfo h2 b {
    font-size: 12px;
    padding: 4px 6px 0 6px;
}
.userOff a b {
    display: none;
}
.pagMovidy a {
    padding: 10px 10px;
    font-size: 13px;
    margin: 0 5px;
}
.xBody article {
    padding: 40px 10px 10px 10px;
}
.CastDir li {
    width: 49%}
}@media screen and (max-width:480px) {

    .hideItems h2 {
        padding: 0 0 10px 0;
    }

    .storeSP {
    position: relative;
    }

    #ContentDay .articleItem span:first-child {
        font-size: 16px;
    }

    .nota {
    border-radius: 6px 0 0 6px;
    top: 45px;
    right: -10px;
    left: initial;
}

.critWallp .nota {
    margin: 0 0 0;
    top: 15px;
    left: 0;
    right: initial;
    border-radius: 0 6px 6px 0;
}

    .SingleHead {
        position: relative;
        top: 5px;
        border-radius: 7px;
    }   

    .nota i {
        font-size: 15px;
    }

    .nota span {
        font-size: 16px;
    }

    .boxEpVisto {
        padding: 3px;
    }
    
    .boxEpVisto h3 {
     margin: 0 0 2px 8px;
    }

    .charac {
        position: absolute;
        right: 0;
        bottom: 10px;
    }


    .navSectionPerfil div {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    display: flex;
    }

    .SecondNav a {
    position: relative;
    width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;
    font-size: 0;
    text-align: center;
    padding: 0;
}
.SecondNav {
    display: flex;
}
.SecondNav a i {
    position: initial;
    left: initial;
    font-size: 24px;
    display: inline-block;
    width: 25px;
    margin: 5px 0 0 0;
}
.SecondNav span {
        width: 100%;
    width: -moz-available;        
    width: -webkit-fill-available;
    width: fill-available;}
.Ageneros li {
    width: 46%}
.Ayears li {
    width: 21.5%}
.Ageneros input {
    width: 21%}
footer {
    padding: 15px 10px 15px 10px;
    text-align: center;
}
footer b {
    display: block;
    margin: 0 0 5px 0;
}
.inSection .season li {
    width: 100% !important;
    width: -moz-available !important;        
    width: -webkit-fill-available !important;
    width: fill-available !important;
}
.xBody article {
    font-size: 14.4px;
}
.deletedPub span {
    top: 80%;
    font-size: 13px;
}
#Musica li .externalM a {
    background-size: 25px;
    width: 20px;
    height: 25px;
}

.navSectionPerfil a {
    border-radius: 5px;
}

.sts a {
    font-size: 14px;
}

}

@media screen and (max-width:380px) {

    .sts {
        top: 23px;
    }   

    .menuIndexF span nav a i, .menuIndexF span nav li i {
        font-size: 20px;
    }

    .Logo_dd {
        margin: 9px 0 0 15px;
        font-size: 30px;
    }



    .SingleContent h1 {
        font-size: 20px;
        top: 5px;
    }
    .Wallpaper {
        padding: 0 0 55% 0;
    }
}

.notYet {
    background: #181821;
    padding: 10px 5px;
    text-align: center;
    font-weight: 500;
    border-radius: 4px;
    color: #c2c2c2;
}

.notYet a {
    border-radius: 4px;
    color: #f3f3f3;
    font-size: 15px;  
}

/*Panel*/

#PanelAdmin {
    margin: 60px 20px;
    background: #1a1a1a;
    width: -webkit-fill-available;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    display: flex;
}

.PanelNav {
    width: 250px;
    background: #000;
    padding: 20px;
    border-radius: 10px;
}

.PanelNav a {
    display: block;
    margin: 0 0 20px;
    color: #bbb;
    font-size: 20px;
    padding: 10px 10px 10px 20px;
}

.PanelNav a:hover {
    color: #fff;
}

.PanelBody {
    width: 83%;
    background: #111010;
    margin: 0 0 0 20px;
    border-radius: 10px;
    padding: 20px;
}

.PanelNav .NL_A {
    background: #13568c;
    border-radius: 10px;
}

.PanelNavSection {

}

.PanelNavSection a {
    display: inline-block;
    background: #1a1a1a;
    padding: 10px;
    margin: 0 10px 0 0;
    border-radius: 6px;
    color: #808080; 
}

.PanelNavSection a:hover {
    color: #fff;
}

.PanelList {
    
}

.PanelList li{
    position: relative;
    background: #000;
    margin: 15px 0 0 0;
    border-radius: 6px;
    padding: 10px;
    float: left;
    width: -webkit-fill-available;
}

.PanelList li img{
    float: left;
    width: 43px;
    height: 59px;
    margin: 0 15px 0 0;
}

.PanelList li a h2{
    margin: 0 0 10px 0;
    font-size: 25px;
    color: #fff;
    font-weight: 300;
}

.PanelList li div{
    
}

.PanelList li div a{
    color: #848282;
    margin: 0 40px 0 0;
}

.PanelList li div a:hover{
    color: #fff;
}

.PanelList li div a:last-child {
    float: right;
    background: #151414;
    padding: 10px;
    margin: -27px 20px 0 0;
    border-radius: 6px;
}

.PanelList li div a:last-child:hover {
    background: #be2121;
    color: #fff;
}

.paginacion {
    float: left;
    width: 100%;
    padding: 34px 0 10px 0;
    position: relative;
}
.paginacion a {
    background: #1a1a1a;
    padding: 7px 13px 6px 13px;
    margin: 0 5px;
    border-radius: 3px;
    color: #a9a9a9;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    font-size: 20px;
}
.paginacion .PageActiva {
    background: #1f72b3 !important;
    color: #ffffff;
}
.paginacion a:hover {
    background: #445477;
    color: #fff;
}
.noResults2 {
    font-size: 20px;
    margin: 50px 0;
    text-align: center;
    color: #a7a7a7;
}


.idform {
    float: left;    
}

.idform input{
    border: 0;
    padding: 10px;
    font-size: 20px;
    background: #000000;
    color: #fff;
    font-weight: 500;
    width: 100px;
}

.idform input:last-child{
    margin: 0 4px 0 0;
    border: 0;
    padding: 0 15px;
    background: #464646;
    color: #f5f5f5;
    cursor: pointer;
    height: 44px;
    top: 0px;   
}

.form_title {
    display: flex;
}

.form_title input {
    border: 0;
    padding: 10px;
    font-size: 20px;
    background: #000000;
    color: #fff;
    font-weight: 500;
    width: -webkit-fill-available;
}

.form_title input:last-child {
    margin: 0 0 0 10px;
    border: 0;
    padding: 0 15px;
    background: #537727;
    color: #fff;
    cursor: pointer;
    width: 130px;
    font-size: 15px;
}

.form_titleCt {
    display: flex;
    margin: 0 0 23px 0;
}

.form_titleCt input {
    border: 0;
    padding: 10px;
    font-size: 20px;
    background: #282828;
    color: #fff;
    font-weight: 500;
    width: -webkit-fill-available;
        margin: 0 0 0 0 !important;
}

.form_titleCt input:last-child {
    margin: 0 0 0 10px;
    border: 0;
    padding: 0 15px;
    background: #537727;
    color: #fff;
    cursor: pointer;
    width: 130px;
    font-size: 15px;
}

textarea.articleadmin {
    margin: 5px 0 0 0;
    border: 0;
    background: #000000;
    width: -webkit-fill-available !important;
    padding: 15px;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
}

.formSections {
    display: flex;
    margin: 5px 0 0 0;
}

.formSeOne {
    width: 54%;
}

.formSeOne li {
    display: flex;
}

.formSections li {
    display: flex;
}
.formSections select {
    display: block;
    padding: 4px 10px 5px 10px;
    width: -webkit-fill-available;
    border: 0;
    background: #1f5075;
    color: #ffffff;
    height: 37px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.formSeOne li input:first-child {
    margin: 0 5px 5px 0;
}

.formSections textarea {
    margin: 0 0 5px 0;
    border: 0;
    background: #000000;
    width: -webkit-fill-available !important;
    padding: 15px;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}

.formSections input {
    border: 0;
    padding: 10px;
    font-size: 14px;
    background: #000000;
    color: #fff;
    font-weight: 500;
    width: -webkit-fill-available;
    margin: 0 0 5px 0;
}

.formSeSecond {
    width: 45%;
    margin: 0 0 0 1.5%;
}

.Done11 {
    text-align: center;
    padding: 15px 0;
    width: 100%;
    margin: 0 0 10px 0;
    background: #13568c;
    border-radius: 5px;
}

.box_craunler {
    display: inline-block;
    width: 47.8%;
    margin: 0 1%;

}

.box_craunler input {
    border: 0;
    padding: 10px;
    font-size: 15px;
    background: #000000;
    color: #fff;
    font-weight: 500;
    width: -webkit-fill-available;
    margin: 0 0 10px 0 !important;
}

.box_craunler .submit_ed2it {
    background: #537727;
    cursor: pointer;
}





.options_f a {
    float: left !important;
    padding: 15px 0 0 0 !important;
    color: #cacaca !important;
    margin: 0 !important;
    background: transparent !important;
}

.Formulario a{
    display: inline-block;
    margin: 0 20px 10px 0;
    color: #e1e1e1;
    font-size: 17px;
    padding: 7px 15px;
    background: #13568c;
    border-radius: 6px;
}




.remoteCLD h5 {
    font-size: 50px;
    margin: 20px 0; 
}

.remoteCLD span {
    background: #000;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
    margin: 0 15px 0 0;  
}

.remoteCLD span p{
    color: #d5d5d5;
}

.remoteCLD span b{
    font-size: 30px;
    margin: 0 0 20px 0;
}

.EnlacesRemoteEps {
    margin: 0 0 100px 0;
    background: #000;
    padding: 15px;
}





.vdPlanelD {
    background: #3e0707 !important;
}

.EnlacesRemoteEps span form select {
    background: #000000;
    color: #fff;
    width: auto;
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 20px 0 0;
    border: 0;
}
